[Unit]
Description=TLGCaptchaBotUa: https://t.me/UaCaptchaBot
Requires=docker.service
BindsTo=docker.service
Conflicts=shutdown.target reboot.target halt.target
After=local-fs.target
Wants=local-fs.target

[Service]
#Restart=always
Restart=on-failure
RestartSec=30
TimeoutSec=300

Group=docker

ExecStartPre=-/usr/local/bin/docker-compose -f /home/admin/github/TLG_JoinCaptchaBot_UA/docker-compose.yml kill
ExecStartPre=-/usr/local/bin/docker-compose -f /home/admin/github/TLG_JoinCaptchaBot_UA/docker-compose.yml rm
ExecStartPre=-/usr/local/bin/docker-compose -f /home/admin/github/TLG_JoinCaptchaBot_UA/docker-compose.yml rm -f

ExecStart=/usr/local/bin/docker-compose -f /home/admin/github/TLG_JoinCaptchaBot_UA/docker-compose.yml up --force-recreate --no-deps

ExecStop=/usr/local/bin/docker-compose -f /home/admin/github/TLG_JoinCaptchaBot_UA/docker-compose.yml stop

[Install]
WantedBy=multi-user.target
